
@{
    ViewBag.Title = "AddProductType";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div ng-model="addLsp" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Thêm loại sản phẩm</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form>
                            <div class="form-group">
                                <label>Mã loại sản phẩm:</label>
                                <input ng-model="mlsp" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label>Tên Loại sản phẩm:</label>
                                <input ng-model="tenlsp" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Mô tả:</label>
                                <textarea ng-model="mota" class="form-control" rows="4"></textarea>
                            </div>
                            <button ng-click="addlsp()" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

