<div id="accountcontroller" ng-controller="acccontroller">
    <ul ng-hide="out" class="andro_header-top-links">
        <li class="menu-item"><a href="/Account/Login"> Đăng nhập  </a></li>
    </ul>

    <ul ng-hide="lin" id="dropuser"  class="andro_header-top-links">
        <li class="menu-item">
            <div class="user-dropdown-wrapper">
                <div class="user-dropdown-trigger">
                    Welcome, <span>{{ten}}</span>
                    <img style="max-width:50px;min-height:50px" ng-src="{{anhdaidien}}" alt="ảnh đại diện">
                    <ul class="user-dropdown-menu">
                        <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
                        <li><a href="#" ng-click="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
