<div ng-controller="CartInHeader" class="andro_header-controls">

    <ul class="andro_header-controls-inner">
        <li class="andro_header-favorites"> <a href="#" title="Your Wishlist"> <i class="flaticon-like"></i> </a> </li>
        <li class="andro_header-cart">
            <a href="/Product/Cart" title="Your Cart">
                <i class="flaticon-shopping-basket"></i>
                <div class="andro_header-cart-content">
                    <span>{{listInCart.length}} Items</span>
                    <span>{{getTotal()}} VND</span>
                </div>
            </a>
        </li>
    </ul>

    <!-- Toggler -->
    <div class="aside-toggler aside-trigger-left">
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>