  <!-- Product Start -->
<div ng-repeat="i in featuredpro" class="col-sm-6">
    <div style="    width: 350px; height: 420px;" id="{{i.MaSanPham}}" class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
        <div class="andro_product-thumb">
            <a href="/Product/Product_Details#!?masanpham={{i.MaSanPham}}"><img src="{{i.Hinhanh}}" alt="product"></a>
        </div>
        <div class="andro_product-body">
            <h6 class="andro_product-title"> <a href="product-single.html"> {{i.tensanpham}} </a> </h6>
            <div class="andro_rating-wrapper">
                <div style="display:flex">
                    <div class="andro_rating" ng-repeat="Star in [1,2,3,4,5]">
                        <div ng-switch="i.Stars >=Star">
                            <div ng-switch-when="true">
                                <i class="fa fa-star active"></i>
                            </div>
                            <div ng-switch-when="false">
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="andro_product-footer">
            <div class="andro_product-price">
                <a style="display:none">{{i.MoTa}}</a>
                <span>{{i.Giaban | number }} VNĐ</span>
                <a style="display:none">{{i.DonViTinh}}</a>
            </div>
            <div class="andro_product-buttons">
               
                <a  ng-click="AddToCart(i.MaSanPham,i.Giaban)"  href="" class="andro_btn-custom primary">Add To Cart</a>
                <a href="#" data-toggle="modal" onclick="featureds(this)"  data-target="#quickViewModal" class="andro_btn-custom light quickViewModal">Quick View</a>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->
