     <!-- Menu Start -->
<div ng-controller="navmenu" class="col-lg-3">
    <div class="andro_category-mm">
        <div class="andro_category-mm-header">
            <h6> <i class="fas fa-th-large"></i> Loại Sản Phẩm</h6>
        </div>
        <div class="andro_category-mm-body">

            <ul>
                <li ng-repeat="i in lsp" class="andro_category-mm-item" style="cursor:pointer;"> <a  ng-click="getheoloai(i.maloaisanpham)"  >{{i.TenLoaiSanPham}}</a> </li>
            </ul>

        </div>

    </div>
</div>
<!-- Menu End -->