
<div ng-controller="daylyDeal" class="sidebar-widget">
    <div class="section-title">
        <h4 class="title">Daily Deals</h4>
    </div>

    <div class="deals-slider">

        <!-- Deal Start -->
        <div class="andro_product">
            <div class="andro_product-badge andro_badge-sale">
                20% Off
            </div>
            <div class="andro_product-thumb">
                <a href="/Product/Product_Details"><img src="~/assets/img/products/5.png" alt="product"></a>
                <div class="andro_countdown-timer" data-countdown="2021/01/01"></div>
            </div>
            <div class="andro_product-body">
                <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Watermelon </a> </h5>
                <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span>4 Stars</span>
                </div>
            </div>
            <div class="andro_product-footer">
                <div class="andro_product-price">
                    <span>8$</span>
                    <span>14$</span>
                </div>
                <a href="/Product/Product_Details" class="andro_btn-custom btn-sm">Mua Ngay</a>
            </div>

        </div>
        <!-- Deal End -->

    </div>

</div>