
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<!--Cart Start -->
<div class="section" ng-controller="CartInDetail" id="cart-in-detail">
    <div class="container">

        <!-- Cart Table Start -->
        <table class="andro_responsive-table">
            <thead>
                <tr>
                    <th class="remove-item"></th>
                    <th>Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tổng Tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in listInCart" ng-switch="i.GiaGiam > 0">
                    <td class="remove">
                        <button ng-click="delete(i.MaChiTietGioHang)" type="button" class="close-btn close-danger remove-from-cart">
                            <span  ></span>
                            <span ></span> 
                        </button>
                    </td>
                    <td data-title="Product">
                        <div class="andro_cart-product-wrapper">
                            <img src="{{i.HinhAnh}}" alt="prod1">
                            <div class="andro_cart-product-body">
                                <h6> <a href="/Product/Product_Details#!?masanpham={{i.MaSanPham}}">{{i.TenSanPham}}</a> </h6>
                                <p> {{i.DonViTinh}} {{$index}}</p>
                            </div>
                        </div>
                    </td>
                    <td data-title="Price" >
                        <div ng-switch-when="true">
                            <strong >{{i.GiaGiam | number}} VNĐ</strong> <br />
                            <strong style="text-decoration:line-through;color:#50bd4d">{{i.GiaBan | number}} VNĐ</strong>
                        </div>
                        <div ng-switch-when="false">
                            <strong >{{i.GiaBan | number}} VNĐ</strong>
                        </div>
                    </td>
                    <td class="quantity" data-title="Quantity">
                        <input type="number" class="qty form-control" value="{{i.SoLuong}}" ng-model="SoLuongChange" ng-change="Hay({{$index}},this)" min="1" >
                    </td>
                    <td data-title="Total">
                        <div ng-switch-when="true">
                            <strong >{{i.GiaGiam * i.SoLuong | number}} VNĐ</strong> <br />
                        </div>
                        <div ng-switch-when="false">
                            <strong >{{i.GiaBan * i.SoLuong| number}} VNĐ</strong>
                        </div>
                    </td>
                </tr>
                

            </tbody>
        </table>
        <!-- Cart Table End -->
        <!-- Coupon Code Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group mb-0">
                    <div class="input-group mb-0" style="display:flex;justify-content: space-between;">
                            <a style="width:20%" class="andro_btn-custom primary btn-block" href="/Product/odertList">Danh sách đơn hàng</a>
                            <a style="width:20%" class="andro_btn-custom primary btn-block" href="/Product/odertList">Cập nhật giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Coupon Code End -->

    </div>
</div>
<!-- Cart End -->
<!-- Cart form Start -->
<div class="section pt-0" ng-controller="CartInTotal" id="cart-in-total">
    <div class="container">

        <div class="row andro_cart-form">
            <div class="col-lg-6 andro_upsells">

                <div class="section-title flex-title">
                    <h4 class="title">Upsells</h4>
                    <div class="andro_arrows">
                        <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                        <i class="fa fa-arrow-right slick-arrow slider-next"></i>
                    </div>
                </div>

                <!-- Upsells Start -->
                <div class="andro_upsells-slider">

                    <!-- Product Start -->
                    <div class="andro_product andro_product-list andro_product-has-controls andro_product-has-buttons">
                        <div class="andro_product-thumb">
                            <a href="/Product/Product_Details"><img src="~/assets/img/products/5.png" alt="product"></a>
                        </div>
                        <div class="andro_product-body">
                            <div class="andro_rating-wrapper">
                                <div class="andro_rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </div>
                                <span>5 Stars</span>
                            </div>
                            <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Watermelons </a> </h5>
                            <div class="andro_product-price">
                                <span>11$</span>
                                <span>24$</span>
                            </div>
                            <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        </div>
                        <div class="andro_product-footer">
                            <div class="andro_product-buttons">
                                <a href="#" class="andro_btn-custom primary">Mua Ngay</a>
                                <a href="#" class="andro_btn-custom light">Xem Nhanh</a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->
                    <!-- Product Start -->
                    <div class="andro_product andro_product-list andro_product-has-controls andro_product-has-buttons">
                        <div class="andro_product-thumb">
                            <a href="/Product/Product_Details"><img src="~/assets/img/products/14.png" alt="product"></a>
                        </div>
                        <div class="andro_product-body">
                            <div class="andro_rating-wrapper">
                                <div class="andro_rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span>4 Stars</span>
                            </div>
                            <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Grapes </a> </h5>
                            <div class="andro_product-price">
                                <span>11$</span>
                            </div>
                            <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        </div>
                        <div class="andro_product-footer">
                            <div class="andro_product-buttons">
                                <a href="#" class="andro_btn-custom primary">Mua Ngay</a>
                                <a href="#" class="andro_btn-custom light">Xem Nhanh</a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->
                    <!-- Product Start -->
                    <div class="andro_product andro_product-list andro_product-has-controls andro_product-has-buttons">
                        <div class="andro_product-thumb">
                            <a href="/Product/Product_Details"><img src="~/assets/img/products/12.png" alt="product"></a>
                        </div>
                        <div class="andro_product-body">
                            <div class="andro_rating-wrapper">
                                <div class="andro_rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </div>
                                <span>5 Stars</span>
                            </div>
                            <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Brocoli </a> </h5>
                            <div class="andro_product-price">
                                <span>11$</span>
                            </div>
                            <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        </div>
                        <div class="andro_product-footer">
                            <div class="andro_product-buttons">
                                <a href="#" class="andro_btn-custom primary">Mua Ngay</a>
                                <a href="#" class="andro_btn-custom light">Xem Nhanh</a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->
                    <!-- Product Start -->
                    <div class="andro_product andro_product-list andro_product-has-controls andro_product-has-buttons">
                        <div class="andro_product-thumb">
                            <a href="/Product/Product_Details"><img src="~/assets/img/products/6.png" alt="product"></a>
                        </div>
                        <div class="andro_product-body">
                            <div class="andro_rating-wrapper">
                                <div class="andro_rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </div>
                                <span>5 Stars</span>
                            </div>
                            <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Oranges </a> </h5>
                            <div class="andro_product-price">
                                <span>11$</span>
                            </div>
                            <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        </div>
                        <div class="andro_product-footer">
                            <div class="andro_product-buttons">
                                <a href="#" class="andro_btn-custom primary">Mua Ngay</a>
                                <a href="#" class="andro_btn-custom light">Xem Nhanh</a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->

                </div>
                <!-- Upsells End -->

            </div>
            <div class="col-lg-6">
                <div class="section-title">
                    <h4 class="title">Cart Total</h4>
                </div>

                <table>
                    <tbody>
                        <tr>
                            <th>Subtotal</th>
                            <td>{{ getTotalMoney |number }} VNĐ</td>
                        </tr>
                        <tr>
                            <th>Tax</th>
                            <td> {{getTotalMoney*percent/100 | number}} VND <span class="small">({{percent}} %)</span> </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td> <b>{{getTotalMoney-getTotalMoney*percent/100 | number}} VND</b> </td>
                        </tr>
                    </tbody>
                </table>
                <a href="/Product/Checkout" class="andro_btn-custom primary btn-block">Proceeed to Checkout</a>
            </div>
        </div>

    </div>
</div>
<!-- Cart form End -->
