
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<div class="section" ng-controller="CheckOut" ng-model="infoCustormer">
    <div class="container">

        <form method="post">
            <div class="row">
                <div class="col-xl-7">

                    <!-- Buyer Info Start -->
                    <h4>Billing Details</h4>
                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label>Tên khách hàng<span class="text-danger">*</span></label>
                            <input type="text" placeholder="First Name" name="fname" class="form-control" value="{{infoCustormer.TenKhachHang}}" required="">
                        </div>
                        <div class="form-group col-xl-6">
                            <label>Địa chỉ <span class="text-danger">*</span></label>
                            <input ng-model="diachi" type="text" placeholder="Street Address One" name="addr-1" class="form-control" value="{{infoCustormer.adress}}" required="">
                        </div>
                        <div class="form-group col-xl-6">
                            <label>Số điện thoại <span class="text-danger">*</span></label>
                            <input ng-model="sdt" type="text" placeholder="Phone Number" name="phone" class="form-control" value="{{infoCustormer.SoDienThoai}}" required="">
                        </div>
                        <div class="form-group col-xl-6">
                            <label>Email <span class="text-danger">*</span></label>
                            <input type="email" placeholder="Email Address" name="email" class="form-control" value="{{infoCustormer.Email}}" required="">
                        </div>
                        
                    </div>
                    <!-- Buyer Info End -->

                </div>
                <div class="col-xl-5 checkout-billing">
                    <!-- Order Details Start -->
                    <table class="andro_responsive-table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Qunantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in listInCart">
                                <td data-title="Product">
                                    <div class="andro_cart-product-wrapper">
                                        <div class="andro_cart-product-body">
                                            <h6> <a href="#">{{i.TenSanPham}}</a> </h6>
                                            <p>{{i.SoLuong}} {{i.DonViTinh}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-title="Quantity">{{i.SoLuong}}</td>
                                <td data-title="Total" ng-switch="i.GiaGam > 0">
                                            <strong ng-switch-when="true">{{i.GiaGiam * i.SoLuong | number}} VNĐ</strong> <br />
                                            <strong ng-switch-when="false">{{i.GiaBan * i.SoLuong | number}} VNĐ</strong>
                                </td>
                            </t>
                            
                            <tr class="total">
                                <td>
                                    <h6 class="mb-0">Grand Total</h6>
                                </td>
                                <td></td>
                                <td> <strong>{{getTotal()-getTotal()*percent/100 | number}} VND</strong> </td>
                            </tr>
                        </tbody>
                    </table>

                   

                    <p class="small">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a class="btn-link" href="#">privacy policy.</a> </p>
                    <button type="submit" ng-click="placeOrder()" class="andro_btn-custom primary btn-block">Place Order</button>

                    <!-- Order Details End -->

                </div>
            </div>
        </form>

    </div>
</div>

