
@{
    ViewBag.Title = "odertList";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<!--Cart Start -->
<div class="section" ng-controller="ListOrderDetail">
    <div class="container">

        <!-- Cart Table Start -->
        <table class="andro_responsive-table">
            <thead>
                <tr>
                    <th >No</th>
                    <th >Tên Sản Phẩm</th>
                    <th >Số Lượng</th>
                    <th >Giá Bán</th>
                    <th >Thành tiền</th>
                    <th >Ngày Mua</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in getJsonResults" ng-switch="i.TrangThai == 0">


                    <td>{{$index + 1}}</td>
                    <td>{{i.tenSanPham}}</td>
                    <td>{{i.soLuong}}</td>
                    <td>{{i.giaBan | number}} VNĐ</td>
                    <td>{{i.thanhTien | number}} VNĐ</td>
                    <td>{{i.NgayMua | filterdate | date:'dd/MM/yyyy'}}</td>
                </tr>


            </tbody>
        </table>
        <!-- Cart Table End -->
        <!-- Coupon Code Start -->
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group mb-0">
                    <div class="input-group mb-0">


                        <a class="andro_btn-custom primary btn-block" onclick="window.history.back()" href="#">Quay Lại</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Coupon Code End -->

    </div>
</div>
<!-- Cart End -->
