
@{
    ViewBag.Title = "Product_Details";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<div ng-controller="productdetails">
    <div class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-5">
                    <div class="andro_product-single-thumb">
                        <img src="{{i4.Hinhanh}}" alt="product">
                    </div>

                    <!-- Pagination Start -->
                    <div class="andro_single-pagination">
                        <div class="andro_single-pagination-item andro_single-pagination-prev">
                            <a href="/Product/Product_Details">
                                <div class="andro_single-pagination-thumb">
                                    <img src="~/assets/img/products/9.png" alt="product">
                                </div>
                                <div class="andro_single-pagination-content">
                                    <h6>Tomatoes</h6>
                                </div>
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <div class="andro_single-pagination-item andro_single-pagination-next">
                            <a href="/Product/Product_Details">
                                <div class="andro_single-pagination-thumb">
                                    <img src="~/assets/img/products/15.png" alt="product">
                                </div>
                                <div class="andro_single-pagination-content">
                                    <h6>Apricots</h6>
                                </div>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Pagination End -->

                </div>
                <div class="col-md-7">

                    <div class="andro_product-single-content">

                        <div class="andro_product-single-controls andro_post-share">
                            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="andro_add-to-favorite"> <i class="flaticon-like"></i> </a>
                            <ul class="andro_sm">
                                <li> <a href="#" data-toggle="tooltip" title="Share on Facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
                                <li> <a href="#" data-toggle="tooltip" title="Share on Twitter"> <i class="fab fa-twitter"></i> </a> </li>
                                <li> <a href="#" data-toggle="tooltip" title="Share on Linkedin"> <i class="fab fa-linkedin-in"></i> </a> </li>
                            </ul>
                        </div>

                        <div class="andro_rating-wrapper">
                            <div style="display:flex">
                                <div class="andro_rating" ng-repeat="Star in [1,2,3,4,5]">
                                    <div ng-switch="i4.Stars >=Star">
                                        <div ng-switch-when="true">
                                            <i class="fa fa-star active"></i>
                                        </div>
                                        <div ng-switch-when="false">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <span>{{i4.Stars}} Stars</span>
                        </div>

                        <h3>{{i4.tensanpham}}</h3>

                        <div class="andro_product-price">
                            <span>{{i4.Giaban}} VND</span>
                            <span>14$</span>
                        </div>

                        <form class="andro_product-atc-form">

                            <div class="andro_product-variation-wrapper">
                                <div class="form-group">
                                    <select class="form-control" name="amount">
                                        <option value="">Select Amount</option>
                                        <option value="1">1 {{i4.DonViTinh}}</option>
                                        <option value="2">2 {{i4.DonViTinh}}</option>
                                        <option value="3">3 {{i4.DonViTinh}}</option>
                                        <option value="4">4 {{i4.DonViTinh}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="qty-outter">
                                <span ng-click="addtocart()" class="andro_btn-custom">Buy Now</span>

                            </div>

                        </form>

                        <ul class="andro_product-meta">
                            <li>
                                <span>Loại sản phẩm: </span>
                                <div class="andro_product-meta-item">
                                    <a href="#">{{i4.Tenloaisanpham}}</a>
                                </div>
                            </li>
                            <li>
                                <span>Tags: </span>
                                <div class="andro_product-meta-item">
                                    <a href="#">Healthy</a>,
                                    <a href="#">Vegetarian</a>,
                                    <a href="#">Farm</a>
                                </div>
                            </li>
                            <li>
                                <span>SKU: </span>
                                <div class="andro_product-meta-item">
                                    <span>N/A</span>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Product Content End -->
    <!-- Additional Information Start -->
    <div class="section pt-0">
        <div class="container">
            <div class="andro_product-additional-info">
                <div class="row">

                    <div class="col-lg-4">
                        <ul class="nav andro_sticky-section" id="bordered-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-product-desc-tab" data-toggle="pill" href="#tab-product-desc" role="tab" aria-controls="tab-product-desc" aria-selected="true">Mô Tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-product-info-tab" data-toggle="pill" href="#tab-product-info" role="tab" aria-controls="tab-product-info" aria-selected="false">Additional Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-product-reviews-tab" data-toggle="pill" href="#tab-product-reviews" role="tab" aria-controls="tab-product-reviews" aria-selected="false">Reviews ({{SoLuong}})</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-8">
                        <div class="tab-content" id="bordered-tabContent">
                            <div class="tab-pane fade show active" id="tab-product-desc" role="tabpanel" aria-labelledby="tab-product-desc-tab">
                                <h4>Mô Tả</h4>
                                {{i4.MoTa}}
                            </div>
                            <div class="tab-pane fade" id="tab-product-info" role="tabpanel" aria-labelledby="tab-product-info-tab">
                                <h4>Additional Information</h4>

                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col">Attributes</th>
                                            <th scope="col">Values</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> <strong>Color</strong> </td>
                                            <td>blue, red, yellow, green</td>
                                        </tr>
                                        <tr>
                                            <td> <strong>Material</strong> </td>
                                            <td>wood, plastic, stainless steel</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tab-product-reviews" role="tabpanel" aria-labelledby="tab-product-reviews-tab">
                                <h4>Leave a Review</h4>

                                <div class="andro_rating-wrapper">
                                    <div class="andro_rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>Your Review</span>
                                </div>

                                <!-- Review Form start -->
                                <div class="comment-form">
                                    <form id="formcmt" method="post">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <input class="custom-file-input" type="file" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <textarea class="form-control" ng-model="binhluan" placeholder="Type your comment..." name="comment" rows="7"></textarea>
                                            </div>
                                        </div>

                                        <button type="submit" ng-click="postcoment()" class="andro_btn-custom primary" name="button">Post Review</button>
                                    </form>
                                </div>
                                <!-- Review Form End -->
                                <!-- Reviews Start -->
                                <div class="comments-list">
                                    <ul id="cmt">
                                        <li ng-repeat="i in fb" class="comment-item">
                                            <img src="{{i.HinhAnhKh}}" alt="comment author">
                                            <div class="comment-body">

                                                <h5>{{i.TenKhachHang}}</h5>
                                                <div style="display:flex">
                                                    <div class="andro_rating" ng-repeat="Stars in [1,2,3,4,5]">
                                                        <div ng-switch="i.Stars >=Stars">
                                                            <div ng-switch-when="true">
                                                                <i class="fa fa-star active"></i>
                                                            </div>
                                                            <div ng-switch-when="false">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <span>Posted on: {{i.NgayBinhLuan | filterdate | date:'dd/MM/yyyy'}}</span>
                                                <p>{{i.BinhLuan}}</p>
                                                <a href="#" class="reply-link"> Reply </a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <!-- Reviews End -->

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Additional Information End -->
    <!-- Related Products Start -->
    <div class="section pt-0 andro_related-posts">
        <div class="container">

            <div class="section-title flex-title">
                <h4 class="title">Related Products</h4>
                <div class="andro_arrows">
                    <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                    <i class="fa fa-arrow-right slick-arrow slider-next"></i>
                </div>
            </div>

            <div class="andro_related-posts-slider">

                <!-- Product Start -->
                <div class="andro_product andro_product-has-controls andro_product-has-buttons">
                    <div class="andro_product-badge andro_badge-featured">
                        <i class="fa fa-star"></i>
                        <span>Featured</span>
                    </div>
                    <div class="andro_product-thumb">
                        <a href="/Product/Product_Details"><img src="~/assets/img/products/2.png" alt="product"></a>
                    </div>
                    <div class="andro_product-body">
                        <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Kiwi & Strawberry </a> </h5>
                        <div class="andro_product-price">
                            <span>19$</span>
                            <span>29$</span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span>4 Stars</span>
                        </div>
                    </div>
                    <div class="andro_product-footer">
                        <div class="andro_product-buttons">
                            <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                            <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                        </div>
                    </div>
                </div>
                <!-- Product End -->
                <!-- Product Start -->
                <div class="andro_product andro_product-has-controls andro_product-has-buttons">
                    <div class="andro_product-badge andro_badge-featured">
                        <i class="fa fa-star"></i>
                        <span>Featured</span>
                    </div>
                    <div class="andro_product-thumb">
                        <a href="/Product/Product_Details"><img src="~/assets/img/products/6.png" alt="product"></a>
                    </div>
                    <div class="andro_product-body">
                        <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Fresh Oranges </a> </h5>
                        <div class="andro_product-price">
                            <span>19$</span>
                            <span>29$</span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                            </div>
                            <span>5 Stars</span>
                        </div>
                    </div>
                    <div class="andro_product-footer">
                        <div class="andro_product-buttons">
                            <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                            <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                        </div>
                    </div>
                </div>
                <!-- Product End -->
                <!-- Product Start -->
                <div class="andro_product andro_product-has-controls andro_product-has-buttons">
                    <div class="andro_product-badge andro_badge-sale">
                        20% Off
                    </div>
                    <div class="andro_product-thumb">
                        <a href="/Product/Product_Details"><img src="~/assets/img/products/4.png" alt="product"></a>
                    </div>
                    <div class="andro_product-body">
                        <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Cucumbers </a> </h5>
                        <div class="andro_product-price">
                            <span>8$</span>
                            <span>14$</span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span>4 Stars</span>
                        </div>
                    </div>
                    <div class="andro_product-footer">
                        <div class="andro_product-buttons">
                            <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                            <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                        </div>
                    </div>
                </div>
                <!-- Product End -->
                <!-- Product Start -->
                <div class="andro_product andro_product-has-controls andro_product-has-buttons">
                    <div class="andro_product-badge andro_badge-featured">
                        <i class="fa fa-star"></i>
                        <span>Featured</span>
                    </div>
                    <div class="andro_product-thumb">
                        <a href="/Product/Product_Details"><img src="~/assets/img/products/2.png" alt="product"></a>
                    </div>
                    <div class="andro_product-body">
                        <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Kiwi & Strawberry </a> </h5>
                        <div class="andro_product-price">
                            <span>19$</span>
                            <span>29$</span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span>4 Stars</span>
                        </div>
                    </div>
                    <div class="andro_product-footer">
                        <div class="andro_product-buttons">
                            <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                            <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                        </div>
                    </div>
                </div>
                <!-- Product End -->
                <!-- Product Start -->
                <div class="andro_product andro_product-has-controls andro_product-has-buttons">
                    <div class="andro_product-badge andro_badge-featured">
                        <i class="fa fa-star"></i>
                        <span>Featured</span>
                    </div>
                    <div class="andro_product-thumb">
                        <a href="/Product/Product_Details"><img src="~/assets/img/products/6.png" alt="product"></a>
                    </div>
                    <div class="andro_product-body">
                        <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Fresh Oranges </a> </h5>
                        <div class="andro_product-price">
                            <span>11$</span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                            </div>
                            <span>5 Stars</span>
                        </div>
                    </div>
                    <div class="andro_product-footer">
                        <div class="andro_product-buttons">
                            <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                            <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                        </div>
                    </div>
                </div>
                <!-- Product End -->
                <!-- Product Start -->
                <div class="andro_product andro_product-has-controls andro_product-has-buttons">
                    <div class="andro_product-badge andro_badge-sale">
                        20% Off
                    </div>
                    <div class="andro_product-thumb">
                        <a href="/Product/Product_Details"><img src="~/assets/img/products/4.png" alt="product"></a>
                    </div>
                    <div class="andro_product-body">
                        <h5 class="andro_product-title"> <a href="/Product/Product_Details"> Cucumbers </a> </h5>
                        <div class="andro_product-price">
                            <span>8$</span>
                            <span>14$</span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span>4 Stars</span>
                        </div>
                    </div>
                    <div class="andro_product-footer">
                        <div class="andro_product-buttons">
                            <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                            <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                        </div>
                    </div>
                </div>
                <!-- Product End -->

            </div>
        </div>
    </div>
</div>


