
@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div ng-controller="addPro" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Thêm sản Phẩm</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form id="addsp">
                            <div class="form-group">
                                <label>Tên sản phẩm:</label>
                                <input ng-model="tensanpham" type="text" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Loại Sản Phẩm:</label>
                                <select ng-model="Tenloaisanpham" required class="form-control" id="exampleFormControlSelect1">
                                    <option value="{{i.MaLoaiSanPham}}" ng-repeat="i in ProductCatetory">{{i.TenLoaiSanPham}}</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <label>Hình Ảnh:</label>
                                <div class="custom-file">
                                    <input type="file" id="file" required class="custom-file-input" accept="image/png,image/jpeg" onchange="ChangeFileImageForProduct(this)">
                                    <label class="custom-file-label">Choose file</label>

                                </div>
                                <img class="img-fluid" style="width:200px;height:auto;margin-top:2%" id="loadSource" src="{{i.HinhAnh}}" alt="Ảnh sản phẩm">
                            </div>
                            <div class="form-group">
                                <label>Đơn vị tính:</label>
                                <div class="custom-file">
                                    <input required ng-model="DonViTinh" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Giá bán :</label>
                                <input ng-model="GiaBan" required type="number"min="10000" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Số lượng :</label>
                                <input ng-model="SoLuongNhap" required type="number" min="1" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Mô Tả:</label>
                                <textarea ng-model="MoTa" required class="form-control" rows="4"></textarea>
                            </div>
                            <button formnovalidate ng-click="addProduct()" class="btn btn-primary">Thêm mới</button>
                            <button type="reset" class="btn btn-danger">Làm mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

