
@{
    ViewBag.Title = "Thêm Giá Bán";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div ng-controller="addPrice" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Thêm giá sản Phẩm</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form id="addsp">

                            <div class="form-group">
                                <label>Tên Sản Phẩm:</label>
                                <select ng-model="getJsonResults.maSanPham" required class="form-control" >
                                    <option value="{{i.MaSanPham}}" ng-repeat="i in ProductCatetory">{{i.tensanpham}}</option>
                                </select>
                            </div>

                            <div>
                                <div class="form-group">
                                    <label for="exampleInputdate1">Ngày bắt đầu</label>
                                    <input required type="date" ng-model="getJsonResults.ngayBatDau" class="form-control" id="exampleInputdate1"  min="{{MinDateBatDau}}">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputdate2">Ngày kết Thúc</label>
                                    <input required ng-model="getJsonResults.ngayKetThuc" type="date" class="form-control" id="exampleInputdate2" min="{{MinDateKetThuc}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Giá bán :</label>
                                <input ng-model="getJsonResults.gia" required type="number" min="10000" class="form-control">
                            </div>

                            <button formnovalidate ng-click="add()" class="btn btn-primary">Thêm</button>
                            <button type="reset" class="btn btn-danger">Làm mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

