
@{
    ViewBag.Title = "Sửa thông tin cá nhân";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div ng-controller="editinfo" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body p-0">
                        <div class="iq-edit-list">
                            <ul class="iq-edit-profile d-flex nav nav-pills">
                                <li class="col-md-4 p-0">
                                    <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                        Thông tin cá nhân
                                    </a>
                                </li>
                                <li class="col-md-4 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                        Đổi mật khẩu
                                    </a>
                                </li>
                                <li class="col-md-4 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#manage-contact">
                                        Thông tin liên lạc
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-edit-list-data">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                            <div class="iq-card">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h4 class="card-title">Thông tin cá nhân</h4>
                                    </div>
                                </div>
                                <div class="iq-card-body">
                                    <form>
                                        <div class="form-group row align-items-center">
                                            <div class="col-md-12">
                                                <div class="profile-img-edit">
                                                    <img style="height: 150px; width: 200px;" class="profile-pic" src="{{nv.hinhanh}}" alt="profile-pic">
                                                    <div class="p-image">
                                                        <i class="ri-pencil-line upload-button"></i>
                                                        <input required class="file-upload" id="avtadmin" type="file" accept="image/*">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row align-items-center">
                                            <div class="form-group col-sm-6">
                                                <label for="fname">Tên :</label>
                                                <input required type="text" class="form-control" ng-model="nv.tennhanvien" id="fname">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="lname">Email:</label>
                                                <input required  disabled type="text" class="form-control" id="lname" ng-model="nv.email">
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label class="d-block">Giới Tính:</label>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input required  ng-model="nv.gioitinh" value="Nam" type="radio" id="customRadio6" name="customRadio1" class="custom-control-input required" checked="checked">
                                                    <label class="custom-control-label" for="customRadio6"> Nam </label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input required ng-model="nv.gioitinh" value="Nữ" type="radio" id="customRadio7" name="customRadio1" class="custom-control-input required">
                                                    <label class="custom-control-label" for="customRadio7"> Nữ </label>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="exampleinput requireddate2">Ngày Sinh</label>
                                                <input required max="{{MinDateNgaysinh}}" ng-model="nv.ngaysinh" type="date" class="form-control" id="exampleinput requireddate2" >
                                            </div>
                                           
                                          
                                            <div class="form-group col-sm-12">
                                                <label>Địa Chỉ:</label>
                                                <textarea ng-model="nv.diachi"  class="form-control" name="address" rows="5" style="line-height: 22px;"></textarea>
                                            </div>
                                        </div>
                                        <button ng-click="editinfo()" type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                            <div class="iq-card">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h4 class="card-title">Đổi Mật Khẩu</h4>
                                    </div>
                                </div>
                                <div class="iq-card-body">
                                    <form id="pass">
                                        <div class="form-group">
                                            <label for="cpass">Mật khẩu Hiện Tại:</label>
                                            <a ng-click="forgetpass()"  class="float-right">Quên Mật Khẩu</a>
                                            <input ng-model="matkhau" required type="Password" class="form-control" id="cpass" value="">
                                        </div>
                                        <div class="form-group">
                                            <label for="npass">Mật Khẩu Mới:</label>
                                            <input required type="Password" ng-model="newPass" class="form-control" id="npass" value="">
                                        </div>
                                        <div class="form-group">
                                            <label for="vpass">Xác Nhận Mật Khẩu Mới:</label>
                                            <input required type="Password" ng-model="reNewPass" class="form-control" id="vpass" value="">
                                        </div>
                                        <button ng-click="changePass()" class="btn btn-primary mr-2">Xong</button>
                                        <button type="reset" class="btn iq-bg-danger">Huỷ</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                     
                        <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                            <div class="iq-card">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h4 class="card-title">Thông tin liên lạc</h4>
                                    </div>
                                </div>
                                <div class="iq-card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="cno">Số điện thoại:</label>
                                            <input required type="text" class="form-control" id="cno" ng-model="nv.sodienthoai">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input required type="text" class="form-control" id="email" ng-model="nv.email">
                                        </div>
                                        <button ng-click="editinfo()" class="btn btn-primary mr-2">Hoàn Thành</button>
                                        <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

