
@{
    ViewBag.Title = "Quản Lý Giá Bán";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div ng-controller="managerPrice" id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Giá Bán</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="/Admin/AddPrice" class="btn btn-primary">Thêm Giá Bán</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">

                                </div><div class="row">
                                    <div class="col-sm-12">
                                        <table class="data-tables table table-striped table-bordered dataTable no-footer" style="width:100%" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th style="width: 3%;">No</th>
                                                    <th style="width: 12%;">Tên Sản Phẩm</th>
                                                    <th style="width: 15%;">Ngày Bắt Đầu</th>
                                                    <th style="width: 15%;">Ngày Kết Thúc</th>
                                                    <th style="width: 18%;">Giá</th>
                                                    <th style="width: 15%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-switch="i.ngayKetThuc !='/Date(-62135596800000)/'" ng-repeat="i in getJsonResults">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{i.tenSanPham}}</td>
                                                    <td>{{i.ngayBatDau | filterdate | date:'dd/MM/yyyy'}}</td>
                                                    <td ng-switch-when="true">{{i.ngayKetThuc | filterdate | date:'dd/MM/yyyy'}}</td>
                                                    <td ng-switch-when="false">Không thời hạn (Giá Mắc Định)</td>
                                                    <td>
                                                        <p class="mb-0">{{i.gia | number }} VNĐ</p>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="flex align-items-center list-user-action">
                                                            <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"  ng-click="EditProductLink('/Admin/PriceEdit#!?magia='+i.maGiaBan)"><i class="ri-pencil-line"></i></a>
                                                            <a class="bg-primary" ng-click="xoa(i.maGiaBan,i.ngayKetThuc)" data-placement="top" title=""  data-original-title="Delete" ><i class="ri-delete-bin-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                      <div class="col-sm-12 col-md-7">
                                          <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                              <ul class="pagination">
                                                  <li class="paginate_button page-item active" ng-repeat="item in list">
                                                      <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="{{item}}" tabindex="0" ng-class="{'active-task': count == $index + 1}" ng-click="changePage(item)" class="page-link">{{item}}</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
